{% extends 'base.html' %} {% block title %}Add new SIP Users{% endblock %} {% block body %}
<div class="col-md-12 col-lg-8 container">
    <h4 class="mb-3">Choose file with sip users data</h4>
    <form method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
            <div class="input-group mb-6">
                <input class="form-control" type="file" id="file" name="file" placeholder="Users file"  multiple autocomplete="off"/>
                <button class="btn btn-outline-primary" type="submit" name="submit-btn" id="search-btn_secondary" value="run">Запустить</button>
                <div class="valid-feedback">
                    Отлично!
                </div>
                <div class="invalid-feedback">
                    Выберите документы!
                </div>
            </div>
        <hr>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">File example</div>
            <div class="card-body">
                <h5 class="card-title">number,password,name</h5>
                <p class="card-text">67173,@testpassw0rd,Test T.T.</p>
                <p class="card-text">67174,_testpassw0rd,Test1 T.T.</p>
            </div>
        </div>
    </form>
    {% if result %}
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Creating</th>
                <th scope="col">My_From</th>
                <th scope="col">Display Name</th>
                <th scope="col">Encoding</th>
                <th scope="col">License</th>
                <th scope="col">Profile</th>
            </tr>
        </thead>
        <tbody>
        {% for i in result %}
        <tr>
            <th scope="row">{{ i }}</th>
            {% if result[i]["creating_status"] == "true" %}
                <td>{{ result[i]["creating_status"] }}</td>
            {% else %}
            <td class="table-danger">{{ result[i]["creating_status"] }}</td>
            {% endif %}
            <td>{{ result[i]["change_my_from"] }}</td>
            <td>{{ result[i]["change_name"] }}</td>
            <td>{{ result[i]["change_encoding"] }}</td>
            <td>
                {% for j in result[i]["activate_license"] %}
                {{ j }}: {{ result[i]["activate_license"][j] }}<br>
                {% endfor %}
            </td>
            <td>{{ result[i]["activate_profile"] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}