{% extends 'base.html' %} {% block title %}Add new SIP Users{% endblock %} {% block body %}
<div class="col-md-12 col-lg-8 container">
    <h4 class="mb-3">Choose file with sip users data</h4>
    <form method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
            <div class="input-group mb-6">
                <input class="form-control" type="file" id="file" name="file" placeholder="Users file"  multiple autocomplete="off"/>
                <button class="btn btn-outline-primary" type="submit" name="submit-btn" id="search-btn_secondary" value="run">Запустить</button>
                <div class="valid-feedback">
                    Отлично!
                </div>
                <div class="invalid-feedback">
                    Выберите документы!
                </div>
            </div>
        <hr>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">File example</div>
            <div class="card-body">
                <h5 class="card-title">number,password,name</h5>
                <p class="card-text">67173,67173,Test T.T.</p>
                <p class="card-text">67174,67174,Test1 T.T.</p>
            </div>
        </div>
    </form>
</div>
{% endblock %}